<div class='container d-flex flex-column align-items-center'>
  <h1>Ingrese una nueva contrase単a.</h1>
  <form class='d-flex flex-column gap-1' action='/api/sessions/setPassword' method='post'>
    Email: <input type='email' name='email' placeholder='Ingrese su email' required><br>
    Nueva contrase単a: <input type='password' name='password' placeholder='Ingrese su contrase単a' required><br>
    <input class='btn btn-primary' type='submit' value='Cambiar contrase単a'>
  </form>
</div>